/*Start of stylesheet*/


/*================================
Google fonts used:
font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Lobster', cursive;
 @import url(https://fonts.googleapis.com/css?family=Oswald|Ubuntu|Lobster);
=================================*/

 @import url(https://fonts.googleapis.com/css?family=Oswald|Ubuntu|Lobster);
 
body {
    font-family: 'Oswald', cursive;
}
h1 {
    font-family: 'Lobster', 'Ubuntu', sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}
